<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{{asset 'jquery-1.6.1.min.js'}}"></script>
    <link type="text/css" rel="stylesheet" href="{{asset 'style.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'assert.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'pilcrow.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'hljs-github.min.css'}}"/>
  </head>
<body>
  <div id="wrapper">
    <div id="header">
    <h1>{{title}}</h1>
    </div>
    <div class="clear">
      <hr>
    </div>

    <div id="main">
      <div id="container">
        <div id="content" class="post">
         {{~> content}}

         <div id="bottom_navi">
            {{#if prev}}
              <a href="{{prev}}"> &lt; &lt; Previous Chapter</a> |
            {{/if}}
            {{#if next}}
              <a href="{{next}}">Next Chapter &gt; &gt;</a>
            {{/if}}
         </div>
        </div>
      </div>
    </div>
    <div id="sidebar">
      <h3><a href="index.html">Home</a></h3>
      <!-- <h3><a href="single-page.html">Single page HTML</a></h3> -->
      {{#if prev}}
        <h3><a href="{{prev}}">Previous Chapter</a></h3>
      {{/if}}
      {{#if next}}
        <h3><a href="{{next}}">Next Chapter</a></h3>
      {{/if}}
      <h3><a href="ports_cheatsheet.html">Ports</a></h3>

    {{#if isIndex}}
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <p style="padding: 10px 0px;">
        <a href="https://github.com/mixu/cssbook"><img src="./img/git-icon.png" class="inline"> git</a>,
        <a href="single-page.html"><img src="./img/format_html.png" class="inline"> Single page HTML</a>
      </p>

      <p style="padding: 10px 0px;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-align="left" data-text="Learn CSS the pedantic way" data-via="mikitotakada" data-url="http://book.mixu.net/css/">Tweet</a>
        <div class="fb-share-button" data-href="http://book.mixu.net/css/" data-layout="button_count"></div>
      </p>
    {{/if}}
    </div>
    <div class="clear">
    </div>

    <div id="footer">
      <p>Made by Alexey ERYSHEV based on <a href="http://mixu.net/">Mikito Takada</a> work.</p>
    </div>
  </div>
</body>
</html>
